body
    {
        background-color: #BF3F3F;
        font-family: monospace;
    }
        h1{
            color: lightcoral;
            text-align:center;
        }
        
        .assignment
        {
            display: flex;
            padding: 10px;
            background-color: lightcoral;
            margin: 10px;
            border-radius: 5px;

        }
        .assignment:hover
        {
           background-color:#454745;
        }
        .assignment img
        {
            width: 400px;
            margin: 10px;
            border: 5px solid  #BF3F3F;
        }
        .assignment img:hover
        {
            border: 5px solid  white;
        }
        a
        {
            text-decoration: none;
            color:  #BF3F3F;
        }
        a:hover
        {
            color: white;
        }