body
    {
        background-color: lightseagreen;
    }
        h1{
            color:blue;
            text-align:center;
        }
        
        .assignment
        {
            display: flex;
            padding: 10px;
            background-color: lightcoral;
            margin: 10px;
        }
        .assignment img
        {
            width: 400px;
            padding: 10px;
        }
        a
        {
            text-decoration: none;
        }
        <title>Om Patel</title>